page-new-project {
  .swiper-pagination-bullet
  {
    width: 10%;
    background: url("../../assets/buttonBG.png");
    background-repeat: repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    z-index: 999 !important;
  }

  .divframe {
    position: relative;
  }

  .middle-v{
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  .wrapper {
    width: 92.5%;
    padding: 1em;
  }

  .title {
    font-weight: 700;
  }

  .desc {
    font-size: 1em;
    font-style: italic;
    font-family: Georgia, serif;
  }

  .title,
  .desc,
  .intro {
    text-align: center;
  }

}
