<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu" color="lightwhite"></ion-icon>
    </button>
    <ion-title><img class="logo-img" [src]="'assets/LogoText.png'"></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding style="background-color: #dedede">
  <!--<ion-slides options="options" slider="data.slider" >-->
    <!--<ion-slide-page class="middle-v" ng-repeat="(key, value) in pickedImages | groupBy: 'page'">-->
      <!--<div class="row gallery row-center middle-v"-->
           <!--style="border: 1px solid black;width:{{+dev_width-20}}px;height: {{+dev_width-20}}px;overflow: auto;display: inline-block;">-->
        <!--<img id="image{{$index}}" ng-repeat="image in value" ng-src="{{image.url}}"-->
             <!--on-double-tap="onDoubleTap($index)" style="height:{{(+dev_width-80)/2}}px;z-index: 9999;" transform>-->
      <!--</div>-->
    <!--</ion-slide-page>-->
  <!--</ion-slides>-->
  <button ion-button class="btn-custom" small (click)="pickImage()">Pick Image</button>
  <button ion-button class="btn-custom" small (click)="addSlide()">AddSlide</button>
  <button ion-button class="btn-custom" small (click)="deleteSlide(activeSlide)">Delete</button>
  <button ion-button class="btn-custom" small (click)="printImage(activeSlide)">Print</button>
  <ion-slides pager effect="flip" [ngStyle]="{'height.px':dH/2 + 90}" (ionSlideDidChange)="slideChanged()">
    <ion-slide *ngFor="let slide of slidesArray; let i = index;">
        <div id="image{{i+1}}" [ngStyle]="{'height.px':dW-52,'width.px':dW-52}" class="divframe" style="background-color: white" *ngFor="let image of images  | filter:{slideIndex:i+1}">
          <img src={{image.url}} (click)="detail(image)" (press)="onLongClick(image)" class="middle-v">
        </div>
    </ion-slide>
  </ion-slides>



</ion-content>
