<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu" color="lightwhite"></ion-icon>
    </button>
    <ion-title><img class="logo-img" [src]="'assets/LogoText.png'"></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding style="background-color: #dedede">
  <button ion-button class="btn-custom" small (click)="pickImage()">Pick Image</button>
  <button ion-button class="btn-custom" small (click)="addSlide()">AddSlide</button>
  <button ion-button class="btn-custom" small (click)="deleteSlide(activeSlide)">Delete</button>
  <button ion-button class="btn-custom" small (click)="printImage(activeSlide)">Print</button>
  <ion-slides pager effect="flip" [ngStyle]="{'height.px':dH/2 + 90}" (ionSlideDidChange)="slideChanged()">
    <ion-slide *ngFor="let slide of slidesArray; let i = index;">
        <div id="image{{i+1}}" [ngStyle]="{'height.px':dW-52,'width.px':dW-52}" class="divframe" style="background-color: white" *ngFor="let image of images  | filter:{slideIndex:i+1}">
          <img src={{image.url}} (click)="detail(image)" (press)="onLongClick(image)" class="middle-v">
        </div>
    </ion-slide>
  </ion-slides>



</ion-content>
