<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu" color="lightwhite"></ion-icon>
    </button>
    <ion-title><img class="logo-img" [src]="'assets/LogoText.png'"></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!--<ion-slides options="options" slider="data.slider" >-->
    <!--<ion-slide-page class="middle-v" ng-repeat="(key, value) in pickedImages | groupBy: 'page'">-->
      <!--<div class="row gallery row-center middle-v"-->
           <!--style="border: 1px solid black;width:{{+dev_width-20}}px;height: {{+dev_width-20}}px;overflow: auto;display: inline-block;">-->
        <!--<img id="image{{$index}}" ng-repeat="image in value" ng-src="{{image.url}}"-->
             <!--on-double-tap="onDoubleTap($index)" style="height:{{(+dev_width-80)/2}}px;z-index: 9999;" transform>-->
      <!--</div>-->
    <!--</ion-slide-page>-->
  <!--</ion-slides>-->
  <button ion-button class="btn-custom" small (click)="pickImage()">Pick Image</button>
  <button ion-button class="btn-custom" small (click)="addSlide()">AddSlide</button>
  <button ion-button class="btn-custom" small (click)="deleteSlide(activeSlide)">Delete</button>
  <button ion-button class="btn-custom" small (click)="printImage(activeSlide)">Print</button>
  <ion-slides pager effect="flip" [ngStyle]="{'height.px':dH/2 + 80}" (ionSlideDidChange)="slideChanged()">
    <ion-slide id="images{{i+1}}" *ngFor="let slide of slidesArray; let i = index;" class="middle-v">
      <div class="row gallery row-center middle-v"
      [ngStyle]="{'height.px':dW-52,'width.px':dW-52,'border':'1px solid black','overflow':'auto','display':'inline-block'}">
        <img *ngFor="let image of images  | filter:{slideIndex:i+1}" id="image" [src]="'assets/images/'+image.url"
             [ngStyle]="{'heigth.px':((dW-80)/2)}" (click)="detail(image)">
      </div>
      <!--<div id="printed{{i+1}}" [ngStyle]="{'height.px':dW-20,'width.px':dW-20,'border':'1px solid black','overflow':'auto','display':'inline-block'}"></div>-->
    </ion-slide>
  </ion-slides>
  <p>
  </p>
</ion-content>
