// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.my-container {
  background-image:  url("../assets/SidebarBG.png");
  background-repeat: repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  height: 100%;
  position: absolute;
  z-index: 10;
}
.item.transp {
  background-color: transparent;
  color: #fff;
}

.logo-img
{
  margin-top: 10px;
  width:65%;
}

.transp .item-content {
  background-color: transparent !important;
  color: #fff;
}

ion-menu .toolbar-background
{
  background-color: transparent;
  z-index: 11;
}

ion-header .toolbar-background
{
  background-image: url("../assets/HeaderBG.png");
  background-repeat: repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  height: 100%;
  position: absolute;
}

.bar-button-menutoggle
{
  color: color($colors,lightwhite);
}

.alert-button
{
  color: black !important;
}

.bar-button
{
  color: color($colors,lightwhite);
}

.btn-custom{
  background: url("../assets/buttonBG.png");
  background-repeat: repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  color:#fff;
}

.toolbar-title
{
  color: white;
}

page-login,page-create-account{
  form {
    margin-bottom: 32px;
    button {
      margin-top: 20px;
    }
  }

  p {
    font-size: 0.8em;
    color: #000;
  }

  ion-label {
    margin-left: 5px;
  }

  ion-item.item{
    padding-left: 0px;
  }

  ion-input {
    padding: 5px;
  }

  .invalid {
    border-bottom: 1px solid #FF6153;
  }

  .error-message .item-inner {
    border-bottom: 0 !important;
  }
}
